body {
  margin: 0;
}

header {
  background-color: rgb(58, 58, 58);
  color: aliceblue;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.nav_btn {
  margin-left: 3vw;
  height: fit-content;
}
