body {
  margin: 0;
}

header {
  background-color: rgb(58, 58, 58);
  color: aliceblue;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.nav_btn {
  margin-left: 3vw;
  height: fit-content;
}

#table_div {
  border-collapse: separate;
  border: solid black 3px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  margin-top: 5%;
}

table {
  display: table;
  border: 2px solid #444;
  border-collapse: collapse;
  position: relative;
}

table tr {
  display: table-row;
  position: relative;
  z-index: -1;
}

table td {
  display: table-cell;
  padding: 8px;
  border: 1px solid #ff0000;
  text-align: center;
  width: 3rem;
  height: 3rem;
}

table td:nth-child(3),
table td:nth-child(6) {
  border-right: 5px solid #555;
} /*vertical*/
table tr:nth-child(3) td,
table tr:nth-child(6) td {
  border-bottom: 5px solid #555;
} /*horizontal*/
